@use 'sass:color';
@use '../../styles/variables' as *;

.recentProjectsSection {
  display: flex;
  flex-direction: column;
  gap: $gap-default;
  padding: 1rem;
  font-family: $font-family-main;
  background: $color-light-grey;
  border-radius: $border-radius;

  h2 {
    margin: 0;
    text-align: center;  
    color: $color-dark-text;
  }

  p {
    margin: 0;
    font-size: 1.1rem;
    color: color.adjust($color-dark-text, $lightness: -20%);
    text-align: center;
  }
}

.viewAllLink {
  margin-top: 1em;
  font-weight: bold;
  text-decoration: none;
  color: $color-link;
  text-align: center;  

  &:hover {
    text-decoration: underline;
  }
}
