@use 'sass:color';
@use '../../styles/variables' as *;


.container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem; // reduced from 2rem
  padding: 2rem 1rem;
  align-items: stretch;
}

.compact {
  display: flex;  // make sure flex is declared explicitly
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 1rem;
  gap: 1.5rem;

  &::-webkit-scrollbar {
    height: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: color.adjust($color-dark-text, $lightness: 50%);
    border-radius: $border-radius-small;
  }

  &::-webkit-scrollbar-track {
    background: $color-light-grey;
  }
}
